.tab-container{
    .tab-tags{
        display: flex;
        .tab-tag{
            color: #fff;
            &.active{
                color: darkolivegreen;
            }
            .text{
                padding-left: 5px;
            }
        }
    }
    
}