@import "../../assets/style/variable.less";

.bill-chart-container {
  .bill-tabs{
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
    >.tab-tags{
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 60px;
      z-index: 1;
      background: #29bece;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  .bill-table {
    .bill-item {
      .desc {
        display: flex;
        justify-content: space-between;
        &-product {
          //   @ellipsis();
          @multiple-ellipsis();
          width: 240px;
        }
        &-amount {
          font: 20px weight;
        }
      }
      .tag,
      .time {
        font: 12px weight;
        color: #ccc;
      }
    }
  }
  .stage-tabs{
    .tab-tags{
      // position: relative;
      // bottom: 0;
      // height: 60px;
      // background: #29bece;
      // width: 100%;
      // display: flex;
      // justify-content: space-around;
      // align-items: center;
    }
  }
}
