/* 新增移动端样式 */
.ant-btn,
.ant-input,
.ant-input-password {
  border-radius: 2px;
}
@media screen and (min-width: 400px) {
  .login-wrapper {
    width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 15px;
    .tab-group {
      // margin: 10px auto 20px;
      // justify-content: center;
    }
    .submit-btn {
      width: 100%;
    }
    .login-tab .login-tab-item {
      cursor: pointer;
    }
    .tab-active {
      color: #1677ff;
    }
  }
}

@media screen and (max-width: 400px) {
  .login-wrapper {
    width: 90vw;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
    .tab-group {
      justify-content: center;
    }
    .submit-btn {
      width: 100%;
    }
    .login-tab .login-tab-item {
      cursor: pointer;
    }
    .tab-active {
      color: #1677ff;
    }
  }
}
