.header-container {
  width: 100%;
  background: #17174c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  color: #ccc;
  .left {
    display: flex;
    align-items: center;
    .logo {
      color: #ffffff;
      font-size: 18px;
      width: 160px;
      height: 40px;
      display: inline-block;
      text-align: center;
      line-height: 40px;
    }
    .menu-ul {
      list-style: none;
      margin-bottom: 0;
      display: inline-flex;

      li {
        margin-right: 40px;
      }
      li:hover {
        color: #fff;
      }
    }
  }
  .right {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}

.content-container {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #ccc;
  padding: 20px 40px;
}

@media screen and (min-width: 400px) {
  .mobile-menu,
  .mobile-collapse {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .pc-menu {
    display: none;
  }
  .mobile-menu {
    width: 156px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 0;
  }
}
